body {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 2rem 6rem;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box; /* Elements are now line-up because padding, margin, and border do not affect the elements size */
}
